.bookItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em;
  padding: .25em 10em;
  position: relative;
}

.bookItem::after {
  content: "";
  position: absolute;
  background-color: #ccc;
  width: 50%;
  height: 2px;
  bottom: 0;
}
.bookHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bookHeader h2 {
  color: rgb(102, 101, 101);
  font-size: 1.5rem;
  font-weight: 400;
}

.bookHeader p {
  margin-left: auto;
  margin-right: 1em;
}

.bookHeader button {
  padding: .25em 1em;
  background-color: transparent;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}